.button {
  height: 50px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 4px 10px;
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  background-color: #39cdcc;
}
